<html>
    <head>
        <script src="./scoresScraper.js"></script>
        <link rel="stylesheet" type="text/css" href="./css/style.css" />
    </head>
    <body>

        <nav>
            <ul>
                <li><a href="default.asp">Home</a></li>
                <li><a href="news.asp">News</a></li>
                <li><a href="contact.asp">Contact</a></li>
                <li><a href="about.asp">About</a></li>
            </ul>
        </nav>
        <div class="about">
            <h2>About</h2>
                <ol>
                    <li>
                       1. This is the URL being used  to scrape data - https://www.ncaa.com/brackets/basketball-men/d1/2019
                    </li>
                    <li>
                        2. Data collected - Scrapes the URL for the NCAA tournament scores. 
                    </li>
                    <li>
                        3. Reason - no public API is available. A more efficient way than copying and pasting 
                            each score into a table is scraping the HTML and parsing. 
                    </li>
                </ol>
            </div>

        <div class="column-container">
            <div class='column'>
                <div class="title">Round 1 Winners</div>
                <ul>
                    <% round1Games.map((round1Game)=>{%>
                        <li> <%= round1Game.winner %> <b><%= round1Game.winningScore %> </b>,  <%= round1Game.loser %> <%= round1Game.losingScore %> </li>
                    <%}) %>
                </ul>
            </div>

            <div class='column'>
                <div class="title">Round 2 Winners</div>
                <ul>
                    <% round2Games.map((round2Game)=>{%>
                        <li> <%= round2Game.winner %> <b><%= round2Game.winningScore %> </b>,  <%= round2Game.loser %> <%= round2Game.losingScore %> </li>
                        <%}) %>
                    </ul>
            </div>

            <div class='column'>
                    <div class="title">Round 3 Winners</div>
            <ul>
                <% round3Games.map((round3Game)=>{%>
                    <li> <%= round3Game.winner %> <b><%= round3Game.winningScore %> </b>,  <%= round3Game.loser %> <%= round3Game.losingScore %> </li>
                <%}) %>
            </ul>
            </div>

            <div class='column'>
                <div class="title">Round 4 Winners</div>
            <ul>
                <% round4Games.map((round4Game)=>{%>
                    <li> <%= round4Game.winner %> <b><%= round4Game.winningScore %> </b>,  <%= round4Game.loser %> <%= round4Game.losingScore %> </li>
                <%}) %>
            </ul>
            </div>

            <div class='column'>
                <div class="title">Final Four and Championship Winner</div>
                <ul>
                    <li> <%= finalGames[0].winner %> <b><%= finalGames[0].winningScore %> </b>,  <%= finalGames[0].loser %> <%= finalGames[0].losingScore %> </li>
                    <li> <%= finalGames[2].winner %> <b><%= finalGames[2].winningScore %> </b>,  <%= finalGames[2].loser %> <%= finalGames[2].losingScore %> </li>
                    <li> <%= finalGames[1].winner %> <b><%= finalGames[1].winningScore %> </b>,  <%= finalGames[1].loser %> <%= finalGames[1].losingScore %> </li>
                </ul>
            </div>
        </div>

    </body>
</html>