<html>
    <head>
        <!-- <script src="./scoresScraper.js"></script> -->
        <link rel="stylesheet" type="text/css" href="./css/style.css" />
    </head>
    <body>

        <nav>
            <ul>
                <li><a href="/ncaa/">Home</a></li>
                <li><a href="/ncaa/scores">Scores</a></li>
                <li><a href="/ncaa/about">About</a></li>
            </ul>
        </nav>
        <div class="search-container">
            <h1>NCAA API Search</h1>
                <div class="search-bar">
                    <input type="text" id="myInput" placeholder="Search for Games" title="Search for Team, Score, Round">
                </div>
                <div class="search-results">
                    <ul class="list">
                        <!-- <li class='date'>  </li>
                        <li class='loser'>  </li>
                        <li class='losingScore'>  </li>
                        <li class='round'>  </li>
                        <li class='winner'>  </li>
                        <li class='winningScore'>  </li> -->
                    </ul>
                </div>

        </div>

        <script>
            const ncaaAPI = "https://squares.chrisshimmin.com/api/ncaa";
            const ncaaArr = [];
            fetch(ncaaAPI)
                 .then(handleResponse)
                 .then(data => ncaaArr.push(...data[0], ...data[1], ...data[2], ...data[3], ...data[4], ...data[5]))
                 .catch (error => console.log(error))

                 function handleResponse(response) {
                    let contentType = response.headers.get('content-type')
                    if (contentType.includes('application/json')) {
                        return handleJSONResponse(response);
                    }
                    else {
                        throw new Error(`Sorry, content-type ${contentType} not supported`);
                    }
                 }
                 function handleJSONResponse(response) {
                    return response.json()
                    .then(json => {
                        if (response.ok) {
                            return json
                        }
                        else {
                            return Promise.reject (Object.assign({}, json, {
                                status: response.status,
                                statusText: response.statusText
                            }))
                        }
                    })
                 }
           


            function searchResults(searchWord, arr) {
                return (arr.filter(info => {
                    const regex = new RegExp(searchWord, 'gi');
                    return (info.winner.match(regex) || info.winningScore.match(regex) || info.round.match(regex) || info.loser.match(regex) || info.losingScore.match(regex));
                }))
            }

            function displayResults() {
                const searchWord = searchResults(this.value, ncaaArr);   
                const list = document.querySelector('.list');
                const regex = new RegExp(searchWord, 'gi');

                const html = searchWord.map(element => {
                    const winner = element.winner.replace(regex, 'gi');
                    const loser = element.loser.replace(regex, 'gi');
                    const winningScore = element.winningScore.replace(regex, 'gi');
                    const losingScore = element.losingScore.replace(regex, 'gi');
                    const round = element.round.replace(regex, 'gi');
                    return `<li> ${round} - ${winner}, ${winningScore}  ${loser}, ${losingScore} </li>`;
                    
                }).join('');
                list.innerHTML = html;
                
            }

            const searchBox = document.getElementById('myInput')

            searchBox.addEventListener('change', displayResults);
            searchBox.addEventListener('keyup', displayResults);
                
        </script>

       
    </body>
</html>